<%- include("partials/header") %> 


<h1>Home</h1>

<p> <%= homeStartingContent %>  </p>


<% posts.forEach(function(element){ %>
    <% var slicedString = element.newText %> 
    <% var truncString  = slicedString.substring(0, 100);  %>  
    <h1> <%= element.newTitle %> </h1>
    <p>  <%= truncString+"..." %> <a href="/posts/<%=element.newTitle%> ">Read more</a> </p>
    

 <%  }) %> 

<%- include("partials/footer.ejs") %> 

